.about {
	@include md-min {
		padding: 100px 0;
		padding-bottom: 0;
	}
}

.about__columns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include sm-min {
		flex-direction: row;
	}
}
.about__col {
	width: 100%;

	@include md-min {
		width: 50%;
	}
}

.about__title {
	color: $color-main;
	font-size: 30px;
	font-weight: 500;
	letter-spacing: 5px;

	@include md-min {
		font-size: 60px;
	}
}

.about__title--and {
	font-size: 20px;
	font-style: italic;
	text-align: center;

	@include md-max {
		max-width: 40%;
	}

	@include md-min {
		font-size: 40px;
	}
}

.about__text {
	color: $color-main;
	width: 100%;
	padding: 50px;
}

.about__img {
	height: 300px;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	background-image: url(../assets/images/about/about.jpg);

	@include sm-min {
		height: 500px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-dark;
		opacity: 0.5;
		z-index: 1;
	}

	@include md-min {
		height: 600px;
	}
}
