.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}

form {
	@include md-max {
		padding: 50px 0;
	}
}

.contact-form,
.contact-info {
	flex: 1;

	box-sizing: border-box;

	@include md-min {
		margin: 0 10px;
	}
}

.contact-form {
	width: 100%;

	@include md-min {
		max-width: 800px;
		margin: 0 auto;
	}
}

.contact-form__title {
	padding: 50px 0;
	text-align: center;
}

.form-group {
	margin-bottom: 15px;
	background-color: $color-bg;
	border: none;
}

.form-group label {
	display: block;
	margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 10px 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	border: none;
	background-color: $color-bg;
	border-bottom: 1px solid $color-main;
	color: #8b8b8b;
}

.form-group textarea {
	height: 150px;
	resize: vertical; /* Allows vertical resizing */

	@include md-max {
		height: 100px;
	}
}

.error-message {
	color: #bd6262;
	font-size: 0.6rem;
	padding-top: 5px;
}

button {
	padding: 10px 50px;
	border: 1px solid $color-main;
	border-radius: 5px;
	color: $color-main;
	background-color: transparent;
	cursor: pointer;
}

button:hover {
	background-color: $color-bg;
	color: $color-main;
	border-radius: 5px;

	.form & {
		border: 1px solid $color-main;
	}
}

.contact-info h2 {
	margin-top: 0;
}

.contact-info p {
	margin: 10px 0;
}

.social-contact {
	width: 30%;
	margin-top: 30px;
}

.social__icon {
	&:hover {
		svg {
			color: $color-main;
		}
	}
}

.contact__bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;

	@include md-min {
		margin-top: 50px;
		flex-direction: row;
		max-width: 800px;
		margin: 0 auto;
		margin-top: 100px;
	}
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	svg {
		width: 20px;
		height: 20px;
	}

	@include xs-max {
		width: 30%;
	}
}

.contact__title {
	padding-bottom: 20px;
	font-size: 18px;
}

.contact__tel,
.contact__email,
.contact__street,
.contact__city {
	font-size: 12px;
}

.contact__col {
	@include md-max {
		padding-top: 50px;
	}
}
