.footer {
	border-top: 1px dotted $color-main;

	padding-bottom: 0;
	margin-top: 50px;

	svg {
		width: 200px;
	}
}

.footer__inner {
	padding: 20px 0;
}

.footer__bottom--copy {
	text-align: center;
	font-size: 10px;
}
